 // motion up and down
 @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }

  // animation bar (home)
  @keyframes revealWidthHome {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }

  // key frame animation for message on hover in system to upload pdf file
  @keyframes revealWidthSystemMessage {
    0% {
      width: 0%;
    }
    100% {
      width: 105px;
    }
  }

   // key frame animation for message on hover in system to upload pdf file
   @keyframes revealWidthClipBoardMessage {
    0% {
      width: 0%;
    }
    100% {
    width:65px;
    }
  }

  // Ease out element animation
  @keyframes easeOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }


     
// spinning for REFRSH PAGE ICON
@keyframes spinning3d {
  from {
    transform: rotateZ(deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}