body{
   
    color:$fontColor;
    margin: 0px;
    overflow: hidden;
    font-size: small;
}



.about{
    position: absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%, -50%);

    .app-name{
        margin-bottom: 10px;
    }
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:$barColor;
    height:100px;
    border-top-left-radius: 30%;
}

.footer-details{
    display: block;
    text-align: center;
  

  p{
    padding-top: 12px;
    margin-bottom: 18px;
    font-weight: 400;
  }

  a{
    text-decoration: none;
    color:$btnColor;
    border-bottom: 1px solid $btnColor;
    padding: 5px;
    border-radius: 10px;
    
    &:hover{
       background-color: $btnColor;
       color: $secondaryColor;
       font-weight: 600;
       box-shadow: 2px 2px 10px $homeBtnColor;     
    }
  }
}


