

// Main system container
.system-manager-container{
   //border: 1px yellow solid;
    width: 1024px;
    height: 575px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    // header (credentials manager title)
    .header{
        position: relative;
        top: 20px;
        left: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $fontColor;
        letter-spacing: 1px;
        font-size: 18px;

        // adding space between only
        .header-spacing{
            margin-left: 0.5rem;
        }
    }
}


// System container
.system-container{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 98%;
    height: 500px;
    //border: 2px  white solid;
    border-radius: $borderRadiusForm;
    box-shadow: inset -1px -1px 1px 1px $secondaryColor,
    inset -5px 5px 20px $secondaryColor;

    .credentials-title{
        position: absolute;
        top: 0px;
        left: 20px; 
        font-weight: 600;
        text-transform: uppercase;
        color: $fontColor;
        letter-spacing: 1px;
        font-size: 12px;
        padding-bottom: 3px;
        margin-top: 20px;
        width: 150px;
        text-align: center;
    }
}

// data container
.data-container {
  position: relative;
  top: 0px;
  left: 20px;
  margin-top: 80px;
  }

//   input box container
  .input-box.credentials{
    width: 250px;
    height: 150px;
    //border: 1px solid rgb(255, 4, 4);



    .input{
        margin-bottom: 10px; // Adjusted margin for spacing
        // background-color: aqua;

        input {
            width: 100%;
            font-size: 14px;
            background-color: $primaryColor;
            border: none;
            border-bottom: 1px solid $holdPlace;
            color: $fontColor;
            letter-spacing: 1px;
        
            [type="text"] {
                font-family: sans-serif;
                font-size: 14px; // Adjust the font size for typing
                border-bottom: 0.5px solid $holdPlace;
                color: $fontColor;
                letter-spacing: 1px;
            }
            
            &:focus {
            border-bottom: 1.5px solid $btnColor;
            outline: none; // Remove the default outline on focus
            }
    }
        span {
            position: absolute;
            left: 10px;
            padding-top: 15px;
            text-transform: uppercase;
            font-size: 12px;
            font-family: sans-serif;
            font-weight: 300;
            color: $holdPlace;
            pointer-events: none; // it prevents the element from capturing mouse events
            transition: all 0.3s ease-out;
         }
    }
}


.input.credentials input:valid ~ span{
    color: $btnColor;
    transform: translateX(0px) translateY(-18px);
    font-size: 10px;
}

.add-button{
    position: relative;
    left: 350px;  // adjusting posision
    bottom: 35px; // the same here

    font-size: 10px;
    letter-spacing: 2px;
    width: 60px;
    padding: 8px 10px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid $btnColor;
    color: $btnColor;
  
    &:hover,
    &:focus {  // add focus using tab key
      outline: none; // removes outline
      background-color: $btnColor;
      color: $secondaryColor;
      font-weight: 600;
      box-shadow: 2px 2px 10px $btnColor;
    }
}

// encapsulate the table
.outer-container{
    position: absolute;
    width: 97%;
    height: 250px;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    background-color: $primaryColor;
    border-radius: $borderRadiusForm;
    box-shadow: inset -1px -1px 1px 1px $secondaryColor,
    inset -5px 5px 20px $secondaryColor;
}





// adding the bottom line
.credentials-title.add {

   border-bottom: 1px solid $btnColor;

}

.phone-title.add {
    color: aqua;
    font-weight: 600;
}




// TEST BUTTON (NAVIFATION PURPOSES)    
.button.test-only{
    color: $btnColor;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 12;
    padding: 10px;

    &:hover{
        outline: none; // removes outline
        background-color: $btnColor;
        color: $secondaryColor;
        font-weight: 600;
        box-shadow: 2px 2px 10px $btnColor;
    }
}