
// system colors
$primaryColor: #30383d;
$secondaryColor: #1d1c1c;
$barColor:#161515;
$menuColor: #1E1D1D;
$btnColor:#eb5e28;
$homeBtnColor:#eb5e28;
$fontColor:#c7c4c4;
$holdPlace:#837f7f;
$borderRadiusForm: 10px;
$borderRadiusButton: 5px;
$green: #05ad64;
$alertColor:#fffc5d;
$tableColor: #424d53;


