// Sansation font
// https://www.cdnfonts.com/sansation.font
@import url("https://fonts.cdnfonts.com/css/sansation");

// reseting
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; // Ensures padding is included in the total width
  border: none; // It removes all the borders
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  background-color: $primaryColor;
  overflow: hidden;
}


// Cursor pointer to all "hyperlinks" and "buttons"
a,
.button, 
  button{
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    cursor: pointer;
  }

//Transiction
a:hover,
.button {
  transition: all 300ms ease-out;
  border-radius: $borderRadiusButton;
}
