@import url("https://fonts.cdnfonts.com/css/sansation");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  background-color: #30383d;
  overflow: hidden;
}

a,
.button,
button {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

a:hover,
.button {
  transition: all 300ms ease-out;
  border-radius: 5px;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes revealWidthHome {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes revealWidthSystemMessage {
  0% {
    width: 0%;
  }
  100% {
    width: 105px;
  }
}
@keyframes easeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.parallelogram {
  position: absolute;
  top: 70px;
  z-index: -1;
  left: -300px;
  width: 70%;
  height: 750px;
  background-color: #161515;
  animation: revealWidthHome 1.5s linear;
  transform: skew(-20deg);
}

.welcome-message {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #c7c4c4;
  animation: easeOut 1s;
  text-shadow: #413d3d 0 0 2px, #0a0a0a 0 -3px 2px, #858181 0 -1px 2px, rgba(0, 0, 0, 0.8) 0 30px 25px;
}
.welcome-message span {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

.container {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #eb5e28;
  animation: easeOut 1s;
}

.container.button-box {
  display: none;
}

.login-button,
.create-password-button {
  display: block;
  margin: 30px auto;
  padding: 17px 44px 19px 37px;
  width: 280px;
  height: 55px;
  border: 1px solid #eb5e28;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #1d1c1c;
  background-color: #eb5e28;
  box-shadow: 2px 2px 10px #eb5e28;
  font-size: 10px;
}
.login-button:hover, .login-button:focus,
.create-password-button:hover,
.create-password-button:focus {
  outline: none;
  background-color: transparent;
  color: #eb5e28;
  box-shadow: none;
}

img {
  animation: moveUpDown 2.5s infinite;
  text-shadow: #413d3d 0 0 2px, #0a0a0a 0 -10px 2px, #858181 0 -1px 2px, rgba(0, 0, 0, 0.8) 0 30px 25px;
}
img:hover {
  outline: 0.5px solid #ffffff;
  border-radius: 50%;
  outline-offset: 25px;
}

.bottom-bar {
  border: none;
  position: absolute;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 907px;
  height: 9px;
  border-radius: 10px;
  background-color: #161515;
}

.form-container.registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: easeOut 0.5s;
}

.input-box.registration {
  position: relative;
  width: 375px;
  padding: 25px;
  background-color: #30383d;
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px 1px #1d1c1c, inset -5px 5px 20px #1d1c1c;
}
.input-box.registration .place-holder.registration {
  position: absolute;
  left: 35px;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: #837f7f;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.input-box.registration .registration-header {
  margin-bottom: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7c4c4;
  letter-spacing: 1px;
}

.input.registration input:valid ~ .place-holder.registration {
  color: #eb5e28;
  transform: translateX(0px) translateY(-18px);
  font-size: 10px;
}

.input.registration {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #30383d;
}
input[type=text] {
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: 1.5px solid #837f7f;
  color: #c7c4c4;
  letter-spacing: 1px;
}
input[type=password] {
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: 0.5px solid #837f7f;
  color: #c7c4c4;
  letter-spacing: 1px;
}
input:focus {
  border-bottom: 1.5px solid #eb5e28;
  outline: none;
}

.register-button {
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px 15px;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}
.register-button:hover, .register-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.button.back {
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
  padding: 10px 20px;
  letter-spacing: 2px;
}
.button.back:hover, .button.back:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

#full-name-error,
#username-error,
#password-error,
#confirm-password-error,
#hint-error {
  color: rgb(255, 252, 93);
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  font-family: sans-serif;
}

.input-box .input .valid {
  border-color: #05ad64;
  border-width: 1px;
}

.input-box .input .invalid {
  border-width: 1px;
  border-color: rgb(255, 252, 93);
}

.form-container {
  animation: easeOut 1s;
}

.form-container.hidden {
  display: none;
}

.popup-container {
  display: none;
}

.popup-container.show {
  display: flex;
  animation: easeOut 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 150px;
}
.popup-container.show .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popup-container.show .items .green-circle {
  animation: moveUpDown 3s infinite;
  width: 45px;
  height: 45px;
  background-color: #05ad64;
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #05ad64;
  color: white;
}
.popup-container.show .items .pop-message {
  width: inherit;
  padding: 20px;
  background-color: #30383d;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: inset -5px -5px 9px 9px #1d1c1c;
}
.popup-container.show .items .pop-message p {
  font-size: 14px;
  color: #c7c4c4;
  font-family: sans-serif;
}
.popup-container.show .button.login {
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #eb5e28;
  border: 1px solid #eb5e28;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.popup-container.show .button.login:hover, .popup-container.show .button.login:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}
.popup-container.show .button.login i {
  margin-left: 15px;
  font-size: 14px;
}

.alert-message.registration.show {
  display: block;
  position: absolute;
  top: -10%;
  left: 0%;
  color: #fffc5d;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 1px 2px #fffc5d;
  font-family: sans-serif;
  font-size: 12px;
  transition: all 2s ease-out;
}
.alert-message.registration.show p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert-message.registration {
  display: none;
}

.form-container.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: easeOut 1s;
}
.form-container.login .input-box.login {
  position: relative;
  height: 210px;
  width: 250px;
  padding: 25px;
  background-color: #30383d;
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px 1px #1d1c1c, inset -5px 5px 20px #1d1c1c;
}
.form-container.login .input-box.login .alert-message.show {
  display: block;
  position: absolute;
  top: -20%;
  left: 0%;
  color: #fffc5d;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 1px 2px #fffc5d;
  font-family: sans-serif;
  font-size: 12px;
  transition: all 2s ease-out;
}
.form-container.login .input-box.login .alert-message.show p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container.login .input-box.login .alert-message {
  display: none;
}
.form-container.login .input-box.login .header.login {
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7c4c4;
  letter-spacing: 1px;
}
.form-container.login .input-box.login .input.login input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #30383d;
  border-bottom: 1px solid #837f7f;
  color: #c7c4c4;
}
.form-container.login .input-box.login .input.login input[type=text] {
  font-family: sans-serif;
  font-size: 14px;
}
.form-container.login .input-box.login .input.login input:focus {
  border-bottom: 1.5px solid #eb5e28;
  outline: none;
}
.form-container.login .input-box.login .input.login input:valid ~ .place-holder {
  color: #eb5e28;
  transform: translateX(0px) translateY(-18px);
  font-size: 10px;
}
.form-container.login .input-box.login .place-holder.login {
  position: absolute;
  left: 35px;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: #837f7f;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.form-container.login .input-box.login .login-button-2 {
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px 15px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}
.form-container.login .input-box.login .login-button-2:hover, .form-container.login .input-box.login .login-button-2:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}
.form-container.login .input-box.login .forgot-password {
  position: relative;
  left: 90px;
  font-size: 7px;
  letter-spacing: 2px;
  width: 125px;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
  border-radius: 5px;
}
.form-container.login .input-box.login .forgot-password:hover, .form-container.login .input-box.login .forgot-password:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.back-button {
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
  padding: 10px 20px;
  letter-spacing: 2px;
}
.back-button:hover, .back-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: easeOut 0.5s;
}
.form-container .input-box.retrieve-password {
  font-size: 12px;
  position: relative;
  width: 300px;
  padding: 25px;
  background-color: #30383d;
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px 1px #1d1c1c, inset -5px 5px 20px #1d1c1c;
}
.form-container .input-box.retrieve-password .header.retrieve-pass {
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7c4c4;
  letter-spacing: 1px;
}
.form-container .input-box.retrieve-password .input.retrieve-pass input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #30383d;
  border-bottom: 1px solid #837f7f;
  color: #c7c4c4;
  letter-spacing: 1px;
}
.form-container .input-box.retrieve-password .input.retrieve-pass input [type=password] {
  font-family: sans-serif;
  font-size: 14px;
}
.form-container .input-box.retrieve-password .input.retrieve-pass input:focus {
  border-bottom: 1.5px solid #eb5e28;
  outline: none;
}
.form-container .input-box.retrieve-password .input.retrieve-pass input:valid ~ .place-holder.retrieve-pass {
  color: #eb5e28;
  transform: translateX(0px) translateY(-18px);
  font-size: 10px;
}
.form-container .input-box.retrieve-password .place-holder.retrieve-pass {
  position: absolute;
  left: 35px;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: #837f7f;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.form-container .input-box.retrieve-password .retrieve-pass-button {
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px 15px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}
.form-container .input-box.retrieve-password .retrieve-pass-button:hover, .form-container .input-box.retrieve-password .retrieve-pass-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.back-button {
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
  padding: 10px 20px;
  letter-spacing: 2px;
}
.back-button:hover, .back-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.back-button.hide {
  display: none;
}

.retrieved-password-container {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: easeOut 1s;
}
.retrieved-password-container .header {
  position: absolute;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7c4c4;
  letter-spacing: 1px;
  width: 250px;
  padding: 25px;
  background-color: #30383d;
  border-radius: 10px;
  box-shadow: inset -5px -5px 9px 9px #1d1c1c, inset -5px 5px 20px #1d1c1c;
  font-size: 10px;
}
.retrieved-password-container .header .retrieved-password {
  background-color: aquamarine;
  color: black;
  margin-left: 5px;
}
.retrieved-password-container #go-to-login-button {
  position: relative;
  top: 60px;
  width: inherit;
  color: #eb5e28;
  border: 1px solid #eb5e28;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.retrieved-password-container #go-to-login-button:hover, .retrieved-password-container #go-to-login-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}
.retrieved-password-container #go-to-login-button i {
  margin-left: 15px;
  font-size: 14px;
}

.form-container {
  display: flex;
}

.form-container.hide {
  display: none;
}

.end-session-button {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
  padding: 10px 20px;
  letter-spacing: 2px;
}
.end-session-button:hover, .end-session-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.end-session-button.show {
  display: flex;
}

.retrieved-password-container {
  display: none;
}

.retrieved-password-container.show {
  display: flex;
}

.system-manager-container {
  width: 1024px;
  height: 575px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: easeOut 0.5s;
}
.system-manager-container .header {
  position: relative;
  top: 20px;
  left: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7c4c4;
  letter-spacing: 1px;
  font-size: 16px;
}
.system-manager-container .header .header-spacing {
  margin-left: 0.5rem;
}
.system-manager-container .title-container {
  display: flex;
  gap: 120px;
  margin: 50px 0 0 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
.system-manager-container .title-container a.credentials-title,
.system-manager-container .title-container a.phone-title {
  font-weight: 600;
  color: #c7c4c4;
  padding-bottom: 3px;
}
.system-manager-container .title-container a.credentials-title:hover,
.system-manager-container .title-container a.phone-title:hover {
  cursor: pointer;
  border-radius: 5px;
}
.system-manager-container .system-container.phone-keeper,
.system-manager-container .system-container.credentials-manager {
  position: absolute;
  bottom: 10px;
  width: 98%;
  height: 465px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px 1px #1d1c1c, inset -5px 5px 20px #1d1c1c;
}
.system-manager-container .system-container.phone-keeper .data-container,
.system-manager-container .system-container.credentials-manager .data-container {
  position: relative;
  top: 0px;
  left: 20px;
  margin-top: 20px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper {
  width: 250px;
  height: 150px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input {
  margin-bottom: 15px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input input,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input input,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input input,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input input {
  width: 100%;
  font-size: 12px;
  padding: 10px;
  background-color: #30383d;
  border: none;
  border-bottom: 1px solid #837f7f;
  color: #c7c4c4;
  letter-spacing: 1px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input input [type=text],
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input input [type=text],
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input input [type=text],
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input input [type=text] {
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: 0.5px solid #837f7f;
  color: #c7c4c4;
  letter-spacing: 1px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input input:focus,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input input:focus,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input input:focus,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input input:focus {
  border-bottom: 1.5px solid #eb5e28;
  outline: none;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input span,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input span {
  position: absolute;
  left: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  color: #837f7f;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input.credentials input:valid ~ span,
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .input.phone input:valid ~ span,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input.credentials input:valid ~ span,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .input.phone input:valid ~ span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input.credentials input:valid ~ span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .input.phone input:valid ~ span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input.credentials input:valid ~ span,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .input.phone input:valid ~ span {
  color: #eb5e28;
  transform: translateX(0px) translateY(-18px);
  font-size: 10px;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .add-button,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .add-button,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .add-button,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .add-button {
  position: relative;
  left: 350px;
  bottom: 35px;
  font-size: 10px;
  letter-spacing: 2px;
  width: 60px;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #eb5e28;
  color: #eb5e28;
}
.system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .add-button:hover, .system-manager-container .system-container.phone-keeper .data-container .input-box.credentials .add-button:focus,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .add-button:hover,
.system-manager-container .system-container.phone-keeper .data-container .input-box.phone-keeper .add-button:focus,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .add-button:hover,
.system-manager-container .system-container.credentials-manager .data-container .input-box.credentials .add-button:focus,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .add-button:hover,
.system-manager-container .system-container.credentials-manager .data-container .input-box.phone-keeper .add-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}
.system-manager-container .system-container.phone-keeper .table-container,
.system-manager-container .system-container.credentials-manager .table-container {
  position: absolute;
  bottom: 10px;
  height: 275px;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px 1px #1d1c1c, inset -3px 3px 10px #1d1c1c;
}
.system-manager-container .system-container.phone-keeper .action-bar,
.system-manager-container .system-container.credentials-manager .action-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 200px;
  height: 75px;
  padding: 15px;
}
.system-manager-container .system-container.phone-keeper .action-bar .action-button,
.system-manager-container .system-container.credentials-manager .action-bar .action-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon {
  margin-top: 15px;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon .fa-upload,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon .fa-upload {
  color: #eb5e28;
  font-size: 28px;
  cursor: pointer;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon .fa-upload:hover,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon .fa-upload:hover {
  color: #ff7e4b;
  outline: none;
  transition: all 300ms ease-out;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon .upload-message,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon .upload-message {
  animation: revealWidthSystemMessage 1s;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  z-index: -1;
  top: -100px;
  left: -20px;
  width: 105px;
  height: 105px;
  font-weight: bold;
  color: rgb(21, 38, 48);
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 2px 2px 20px #eb5e28;
  background-color: #ff9064;
  animation: revealWidthSystemMessage 0.5s;
  border-radius: 50%;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon .upload-message.hide,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon .upload-message.hide {
  display: none;
}
.system-manager-container .system-container.phone-keeper .action-bar .upload-icon .upload-message.show,
.system-manager-container .system-container.credentials-manager .action-bar .upload-icon .upload-message.show {
  display: flex;
}
.system-manager-container .system-container.phone-keeper .action-bar .button.end-session,
.system-manager-container .system-container.phone-keeper .action-bar .generate-pdf-button,
.system-manager-container .system-container.credentials-manager .action-bar .button.end-session,
.system-manager-container .system-container.credentials-manager .action-bar .generate-pdf-button {
  font-size: 8px;
  letter-spacing: 2px;
  padding: 6px 8px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #eb5e28;
}
.system-manager-container .system-container.phone-keeper .action-bar .button.end-session:hover, .system-manager-container .system-container.phone-keeper .action-bar .button.end-session:focus,
.system-manager-container .system-container.phone-keeper .action-bar .generate-pdf-button:hover,
.system-manager-container .system-container.phone-keeper .action-bar .generate-pdf-button:focus,
.system-manager-container .system-container.credentials-manager .action-bar .button.end-session:hover,
.system-manager-container .system-container.credentials-manager .action-bar .button.end-session:focus,
.system-manager-container .system-container.credentials-manager .action-bar .generate-pdf-button:hover,
.system-manager-container .system-container.credentials-manager .action-bar .generate-pdf-button:focus {
  outline: none;
  background-color: #eb5e28;
  color: #1d1c1c;
  font-weight: 600;
  box-shadow: 2px 2px 10px #eb5e28;
}

.title.active {
  border-bottom: 3px solid #eb5e28;
  border-radius: 5px;
  transition: all 100ms ease-out;
}

.system-container.credentials-manager {
  display: block;
}

.system-container.phone-keeper {
  display: none;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */